.container {
    display: grid;
    height: 500px;
    width: 800px;
    background-color:cornsilk;
    border: 3px solid black;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; - Instead we use repeat function */

    grid-template-columns: repeat(4, 1fr); /* represent the above argument */
    grid-template-rows: repeat(3, 1fr);

    /* grid-template-areas: "header header header header"
                         "main main . sidebar"
                         "footer footer footer footer";
    padding: 5px;
    gap: 5px 5px; /* row-gap column-gap */ 

    justify-items: center;
    align-items: center;
}

.box {
    height: 100px;
    width: 100px;
    background-color: coral;
    color: white;
    border: 2px dotted black;
}

/*

.box1{
    grid-area: header;
}

.box2{
    grid-area: main;
}

.box3{
    grid-area: sidebar;
}

.box4{
    grid-area: footer;
}

*/